# Mevcut DB
DB_USER=postgres
DB_HOST=localhost
DB_NAME=trio_db
DB_PASSWORD=your_password
DB_PORT=5432

# External Database (YENİ)
# Bu bilgileri doldurun
EXTERNAL_DB_USER=
EXTERNAL_DB_HOST=
EXTERNAL_DB_NAME=
EXTERNAL_DB_PASSWORD=
EXTERNAL_DB_PORT=5432
EXTERNAL_DB_SSL=false
